{% extends 'base.twig' %}
{% block body %}

    <div class="container" style="margin-top: 1%">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-lg-offset-3">

                {# Display #}
                <div class="row">
                    <div class="col-sm-12 calculator-display">
                        <span id="calcDisplay">1234567890E123</span>
                    </div>
                </div>
                <hr>
                <div class="row">

                </div>

                {# Buttons #}
                <div class="row">
                    <div class="row padding-buttons">
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="sin" data-text="sin(x)"
                                    data-display="sin "></button>
                        </div>
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="cos" data-text="cos(x)"
                                    data-display="cos "></button>
                        </div>
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="tg" data-text="tan(x)"
                                    data-display="tan "></button>
                        </div>
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="ctg" data-text="ctg(x)"
                                    data-display="ctg "></button>
                        </div>
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="sec" data-text="sec(x)"
                                    data-display="sec "></button>
                        </div>
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="csc" data-text="csc(x)"
                                    data-display="csc "></button>
                        </div>
                    </div>
                    <div class="row padding-buttons">
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="pow" data-text="x^y"
                                    data-display="^"></button>
                        </div>
                        <div class="col-sm-2">
                            <button class="buttons specials" data-action="fact" data-text="x!"
                                    data-display="!"></button>
                        </div>
                        <div class="col-sm-2 col-sm-offset-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <select name="modo" id="modo" class="form-control" ic-global-include="#modo">
                                        <option value="deg">DEG</option>
                                        <option value="rad">RAD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button class="buttons numerals" data-value="7"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="8"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="9"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons actions" data-action="delete" data-text="del"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons actions" data-action="all_clear" data-text="ac"></button>
                    </div>
                </div>
                <div class="row padding-buttons">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button class="buttons numerals" data-value="4"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="5"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="6"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons operands" data-action="multiply" data-text="x"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons operands" data-action="divide" data-text="/"></button>
                    </div>
                </div>
                <div class="row padding-buttons">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button class="buttons numerals" data-value="1"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="2"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="3"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons operands" data-action="add" data-text="+"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons operands" data-action="subtract" data-text="-"></button>
                    </div>
                </div>
                <div class="row padding-buttons">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button class="buttons numerals" data-value="0"></button>
                    </div>
                    <div class="col-sm-2">
                        <button class="buttons numerals" data-value="."></button>
                    </div>
                    <div class="col-sm-6">
                        {#
                        TODO: Implement Webservice and add Intercooler.js properties to this button
                         #}
                        <input type="hidden" name="output" id="output" value="0">
                        <button class="buttons equal" ic-post-to="/evaluation/eval" ic-target="#calcDisplay"
                                ic-include="#output">=
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="row padding-buttons">
                <div class="col-sm-12">
                    <h3 style="font-family: 'Fira Mono', monospace">Evaluación Directa</h3>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul>
                                <li><strong>addThem</strong> <code>valor1 valor2</code></li>
                                <li><strong>subtracThem</strong> <code>valor1 valor2</code></li>
                                <li><strong>multiplyThem</strong> <code>valor1 valor2</code></li>
                                <li><strong>divideThem</strong> <code>valor1 valor2</code></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li><strong>sin</strong> <code>valor modo</code> </li>
                                <li><strong>cos</strong> <code>valor modo</code></li>
                                <li><strong>tan</strong> <code>valor modo</code></li>
                                <li><strong>ctg</strong> <code>valor modo</code></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li><strong>sec</strong> <code>valor modo</code></li>
                                <li><strong>csc</strong> <code>valor modo</code></li>
                                <li><strong>pow</strong> <code>base exp</code></li>
                                <li><strong>fact</strong> <code>valor</code></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="directEval" style="font-family: 'Fira Mono', monospace">Ecuación</label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="directEval" name="directEval">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ic-post-to="/evaluation/raw" ic-target="#calcDisplay"
                                    ic-include="#directEval">Evaluar
                            </button>
                        </span>
                    </div>

                </div>
                <div class="col-sm-2">
                    <div class="form-group">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}