.calculator-display {
    background-color: #cbcbcb;
    color: #000;
    font-family: 'Fira Mono', monospace;
    font-size: 6rem;
    text-align: right;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.buttons {
    border-radius: 2px 2px 5px 5px;
    font-family: 'Fira Mono', monospace;
    font-size: 2rem;
    text-align: center;
    border: 0;
    width: 100%;
}

.operands {
    background-color: #cbcbcb;
}

.actions {
    background-color: #cb6e00;
    color: black;
    text-transform: uppercase;
}

.specials {
    background-color: #2196F3;
    color: white;
    font-size: 1.5rem;
}

.numerals {
    background-color: #E0F7FA;
}

.padding-buttons {
    padding-top: 5px;
}